body{
    font-family: "Roboto", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "1 1 1"
        "2 2 2"
        "3 3 3";
    gap: 1.5rem;
    background-color: #2196f3;
    padding: 10px;
    justify-content: center;
}

.grid-container > div {
    background-color: #ffffff;
    text-align: center;
    height: 6rem;
    width: 6rem;
}

.button-container {
    text-align: center;
    padding: 5%;
    align-items: center;
}
.button-container > *{
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    display: inline;
}

.button-container > p{
    padding-left: 3rem;
}

.Gameover-screen {
    display: none;
    position: absolute;
}
