body {
    font-family: "Roboto", sans-serif;
}
div,
p,
h1,
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 20%; /* Full-width */
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */

    transition: opacity 0.2s;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
.grid-container {
    display: grid;
    grid-template-areas:
        "1 1 1"
        "2 2 2"
        "3 3 3";
    gap: 1.5rem;
    background-color: #2196f3;
    padding: 10px;
    justify-content: center;
    transition: 0.2s;
}

.grid-container > div {
    /* display: grid; */
    background-color: #ffffff;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: center;
    align-items: center; */
}

.grid-container > div > img {
    display: block;
    margin: 0 auto;
    height: 75%;
}

.button-container {
    text-align: center;
    padding: 5%;
    align-items: center;
}
.button-container > * {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    display: inline;
}

.button-container > p {
    text-align: center;
}

.Gameover-screen {
    display: none;
    position: absolute;
}
